body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8e7;
    color: #333;
}

header {
    background: linear-gradient(90deg, #f7b733, #fc4a1a);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.hero img {
    display: block;
    margin: 0 auto;
    width: 300px; 
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #fc4a1a;
}

.curiosidades ul {
    list-style: square;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fc4a1a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #f7b733;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}